.social-link {
    background-color: #c6bdbd;
    height: 50px;
}

.social-link i {
    font-size: 20px;
    color: #8e1111;

    padding: 10px;
}

@media only screen and (max-width: 800px) {
    .social-link {
        margin: 0;
    }
}